body {
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden; 
	background: #333;
}
#image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: no-repeat;
	background-size: 1920px;
	background-position: top center;
}

#menu {
	position: fixed;
	list-style: none;
	padding: 20px 0 20px 20px;
    max-height: 100%;
    opacity: .5;
}

#menu:hover {
    opacity: 1;
}

#menu li {
	margin: 5px;
}

#menu .button {
    display: table-cell;
	cursor: pointer;
	background: #000;
	color: #fff;
    box-shadow: 0 0 1px 1px #000;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#menu .button.active {
	cursor: default;
	background: #333;
    box-shadow: 0 0 1px 1px #333;
}

#preview {
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

#preview img {
	display: block;
	height: 200px;
	width: auto;
}

#preview span {
	display: block;
	text-align: center;
    padding-top: 5px;
    font-weight: bold;
}